<a href="https://colab.research.google.com/github/buwituze/Benitha_Portifolio/blob/main/Live_coding_Neuron_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a class Neuron that defines a single neuron performing binary classification:

class constructor: def __init__(self, nx):
nx is the number of input features to the neuron
If nx is not an integer, raise a TypeError with the exception: nx must be an integer
If nx is less than 1, raise a ValueError with the exception: nx must be a positive integer
All exceptions should be raised in the order listed above
Public instance attributes:
W: The weights vector for the neuron. Upon instantiation, it should be initialized using a random normal distribution.
b: The bias for the neuron. Upon instantiation, it should be initialized to 0.
A: The activated output of the neuron (prediction). Upon instantiation, it should be initialized to 0.

In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

data.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
#data.info()
new_data = pd.get_dummies(data)
new_data.head(5)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1,318,45,49,49,65,65,45,1,False,...,False,False,False,False,False,True,False,False,False,False
1,2,405,60,62,63,80,80,60,1,False,...,False,False,False,False,False,True,False,False,False,False
2,3,525,80,82,83,100,100,80,1,False,...,False,False,False,False,False,True,False,False,False,False
3,3,625,80,100,123,122,120,80,1,False,...,False,False,False,False,False,True,False,False,False,False
4,4,309,39,52,43,60,50,65,1,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
input = np.array(new_data.drop(['Legendary'], axis = 1))
print(input)

[[1 318 45 ... False False False]
 [2 405 60 ... False False False]
 [3 525 80 ... False False False]
 ...
 [720 600 80 ... False False False]
 [720 680 80 ... False False False]
 [721 600 80 ... False False True]]

In [14]:
print(input.shape)

(800, 845)

In [15]:
nx = input.shape[1]

In [16]:
class Neuron:
    """
    A class that defines a single neuron performing binary classification.
    """
    def __init__(self, nx):
        """
        Initialize the Neuron.
        
        Parameters:
        nx (int): Number of input features to the neuron.
        
        Raises:
        TypeError: If nx is not an integer.
        ValueError: If nx is less than 1.
        """
        if not isinstance(nx, int):
            raise TypeError("nx must be an integer")
        if nx < 1:
            raise ValueError("nx must be a positive integer")
        
        # Public instance attributes
        self.W = np.random.normal(size=(nx, 1))
        self.b = 0 
        self.A = 0

In [17]:
# Create an instance of the Neuron class
neuron = Neuron(nx)

In [18]:

# Print the neuron's attributes
print(f"Number of features: {nx}")
print(f"Shape of weights: {neuron.W.shape}")
print(f"First few weights: {neuron.W[:5, 0]}")
print(f"Bias: {neuron.b}")
print(f"Activation: {neuron.A}")

Number of features: 845
Shape of weights: (845, 1)
First few weights: [-1.20009777  0.73834615  1.00068662  1.0831116   0.95055316]
Bias: 0
Activation: 0